body {
    margin: 0;
    height: 100%;
}

.toolbar {
    background-color: #31c0fd;
    height: 50px;
    width: 100%;
}

.side-bar {
    background-color: #314f4f;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100px;
}

.content {
    background-color: #a9a9a9;
    position: absolute;
    overflow: auto;
    top: 50px;
    left: 100px;
    right: 0;
    bottom: 0;
}

.rectangle {
    margin: 5px auto auto;
    height: 50px;
    width: 50%;
    border: 1px solid black;
}