body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    position: absolute;
}

.toolbar {
    background-color: #31c0fd;
    position: relative;
    height: 65px;
    width: 100%;
}

.mail-icon {
    position: absolute;
    left: 70px;
    top: 10px;
    max-height: 70%;
}

.title {
    color: white;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
    left: 120px;
    top: 25px;
}

.side-bar {
    background-color: black;
    position: absolute;
    width: 280px;
    top: 65px;
    bottom: 0;
}

.side-bar-item {
    background-color: grey;
    border-radius: 5px;
    height: 45px;
    margin: 2px;
    line-height: 50px;
    font-family: sans-serif;
    color: white;
    font-size: 17px;
    padding-left: 4px;
}

.selected {
    background-color: #f67e28;
}

.content {
    background-color: #333333;
    position: absolute;
    overflow: auto;
    top: 65px;
    left: 280px;
    right: 0;
    bottom: 0;
}

.mail-wrapper {
    position: relative;
    margin: 5px auto auto;
    padding: 5px 7px;
    height: 60px;
    width: 80%;
    background-color: white;
}

.mail-title {
    font-size: 30px;
}

.from {
    font-weight: bold;
    bottom: 5px;
}

.author {
    left: 55px;
    bottom: 5px;
}

.header-divider {
    position: absolute;
    border-left: 1px solid black;
    height: 60px;
    left: 200px;
}

.mail-text {
    left: 210px;
}
